/* Universal Styles*/

body {
  font-size: 15px;
  width: auto;
  background-color: #c6ac86
}

h1,
.whatami {
  font-size: 3rem;
}

a:hover {
  text-decoration: none;
}

strong {
  display: block;
  text-align: center;
}

.pushdown {
  position: relative;
  top: 5.3rem;
}

.row {
  justify-content: space-evenly;
  padding: 2rem 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}

.cpu-font {
  font-family: monospace;
  color: #FFFFFF;
}

/* Nav Bar Styles */

.navbar {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 5;
  justify-content: flex-end;
  background-color: #c6ac86;
  height: 5rem;
  box-shadow: 2px 4px 2px whitesmoke;
}

.navbar-nav {
  display: inline;
}

.nav-item:hover {
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.btn-success {
  background-color: rgba(40, 167, 69);
  border: solid 1px whitesmoke;
}

.btn-success:hover {
  background-color: whitesmoke;
  color: rgba(40, 167, 69);
}

/* Jumbotron Styles */

.jumbotron {
  background-image: url(../images/suit.jpg);
  background-size: cover;
  border-radius: 0px;
  height: -webkit-fill-available;
  display: flex;
  padding: 0 10rem;
  margin-bottom: 0;
}

.headline {
  font-size: 4rem;
}

.headline-container {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  justify-content: space-evenly;
  padding-left: 2rem;
  background-color: rgba(100, 100, 100, 0.37);
  text-shadow: 1px 1px 4px black;
  -webkit-text-stroke: 0.5pt black;
}

/* Not using headshot
.headshot {
  border-radius: 75px;
  height: auto;
  box-shadow: 2px 0.4rem 2px silver;
}
*/

/*Slick Slider Carousel*/
.sliders {
  margin: 2rem 0 0 0;
}

.s-box {
  height: 5rem;
  margin: 0 1rem;
  text-align: center;
}

.slick-list {
  height: 40rem;
  position: relative;
}

.slick-dots,
.slick-dotted.slick-slider {
  margin-bottom: 0;
  padding-bottom: 1rem;
}


.slick-prev {
  left: 56px;
  z-index: 2;
}

.slick-next {
  right: 20px;
}

.slick-prev,
.slick-next {
  position: absolute;
  background-color: black;
  border-radius: 9px;
  font-weight: 900;
}

/*Bio Slide Style*/
.whoareyou {
  display: flex;
  height: -webkit-fill-available;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 1rem;
  flex-direction: row-reverse;

}

.whoareyou:first-child {
  color: whitesmoke;
  -webkit-text-stroke: 1pt black;
  text-shadow: 1px 1px 4px black;
  background-color: rgba(100, 100, 100, 0.37);
}

.profile-pic>img {
  height: 23rem;
  border-radius: 160px;
}

.bio {
  height: -webkit-fill-available;
  background-image: url(../images/mckinleyJ&T-25.jpg);
  background-size: cover;
  background-position-y: -35rem;
}

.bio>div>img {
  width: 60%;
  z-index: 1.5;
}

/*Quotes Slide Style*/
.quotes {
  background-image: url(../images/arwinggreen.jpg);
  background-size: cover;
  height: -webkit-fill-available;
  background-position-x: center;
  background-position-y: bottom;
}

.quotes>section {
  color: #FFFFFF;
  margin-top: 19.1rem;
  text-shadow: 1px 1px 12px black;
  background-color: #b3c3b047;
  -webkit-text-stroke: 1pt black;
}

.quotes>section>h4,
.bio>section>h3 {
  font-size: 5rem;
}

.quotes>section>p {
  font-size: 4rem;
  text-align: -webkit-center;
}

#qutoeby {
  font-style: italic;
  -webkit-text-stroke: white;
  padding-left: 10rem;
}

/*Causes Slide Style*/

.causes {
  height: -webkit-fill-available;
  padding-top: 2rem;
  background-image: url(../images/avatar-2191918__340.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center
}

.causes>section>h3 {
  font-size: 3.5rem;
}

.causes>section>ul {
  font-size: 1.5rem;
  letter-spacing: 10px;
}

/*Resume Section*/

#professional {
  padding: 0 10rem;
  height: 40rem;
  display: flex;
}

.experience {
  width: 286px;
  height: max-content;
  margin-bottom: 1rem;
  background: rgba(40, 167, 69, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: solid 1px whitesmoke;
  text-align: center;
  transition: background-color 300ms;
}

.experience:hover {
  background-color: ghostwhite;
}

#where,
.resume>h1,
.web-dev-head,
.job-desc>strong,
.goal {
  text-align: center;
}

h1.web-dev-head {
  text-shadow: 1px 1px 4px black;

}

.resume-paper {
  width: 30rem;
  height: 35rem;

  background: ghostwhite;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 9px 11px 4px rgba(0, 0, 0, 0.25);
}

#job-desc {
  padding: .5rem;
  font-family: sans-serif;
  text-align: left;
}

.ribbon,
.describe {
  border: black 1pt solid;
  background: #c4c4c4d4;
  padding: 2rem 1rem;
  color: black;
  font-size: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin: 1rem 0;
}

.ribbon-icons {
  display: none;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.describe {
  font-size: 2rem;
  position: relative;
  bottom: 29.5rem;
  background-color: #c4c4c4;
  display: none;
}

.work-icons,
.ribbon-icons {
  margin: 0 auto;
  width: 60%;
  display: none;
}

.skill {
  margin: .5rem;
  width: 15.5px;
  padding: 0 auto;
}

#skillset {
  border: #000000 solid 1px;
  width: 75%;
  margin: 0 auto;
}

/*Web-Dev Portfolio Section*/

.portf-container {
  background-color: rgba(40, 167, 69, 0.23);
  box-shadow: 0px 0px 80px rgba(40, 167, 69, 0.6);
}

.portf-container-end {
  background-color: #4900A6;
}

.project-head-container {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/monitor.jpg);
  background-size: cover;
}

.lang-dots-container {
  padding: 3rem 5rem;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 4rem;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.lang-dot {
  padding: .5rem 1rem;
  border-radius: 100px;
  color: #FFFFFF;
  border: slategray 1px solid;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.25);
}

.dot-name>p {
  font-size: 1rem;
}

/* Projects Section*/

#web-dev {
  margin-top: 5rem;
}

.project-table {
  margin: auto;
}

.package {
  display: flex;
  text-align: center;
  justify-content: center;
  height: fit-content;
  padding: 0 auto;
  border: solid 3px rgba(40, 167, 69);
}

.proj {
  width: -webkit-fill-available;
}

.proj-1 {
  background-image: url(../images/jammming.PNG);
  background-size: cover;
}

.proj-2 {
  background-image: url(../images/jumpstart.PNG);
  background-size: cover;
  background-position-y: -0.9rem;
}

.proj-3 {
  background-image: url(../images/warby.PNG);
  background-size: cover;
  background-position-x: center;
}

.proj-4 {
  background-image: url(../images/date-night.PNG);
  background-position-x: center;
  background-size: cover;
}

.proj-5 {
  background-image: url(../images/match-game.PNG);
  background-size: cover;
}

.code-connect {
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 4px black;
}

.code-connect>h3>a {
  color: #FFFFFF;
}

.code-connect>h3>a:hover {
  color: blue;
}

.footer {
  background-color: rgba(40, 167, 69);
  font-weight: 600;
  padding: 1rem;
}

/* Media Queries*/

@media (max-width: 1030px) {
  #professional {
    padding: 0 5px;
  }
}

@media (max-width: 780px) {
  .resume-paper {
    width: auto;
  }

  .ribbon {
    font-size: large;
  }

  .ribbon-icons {
    font-size: medium;
  }

  .whoareyou {
    align-items: center;
  }

  p#job-desc>br {
    display: none;
  }
}

@media (max-width: 430px) {
  html {
    width: 100%;
  }

  .navbar {
    position: relative;
  }

  .btn-outline-success>span {
    display: none;
  }

  .jumbotron {
    top: 0px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .whoareyou {
    display: inherit;
    padding-top: 5rem;
  }

  .me-pics>img {
    display: none;
  }

  .causes {
    color: rgba(40, 167, 69);
    text-shadow: 2px 1px 0px whitesmoke;
  }

  .quotes>section {
    margin-top: 4rem;
  }

  .quotes>section>p {
    font-size: 3rem;
    text-align: -webkit-center;
  }

  em#quoteby {
    -webkit-text-stroke: white;
  }

  .bio {
    background-repeat: no-repeat;
    background-position-y: inherit;
  }

  #professional {
    padding: 2rem 1rem;
    height: auto;
    display: block;
  }

  .resume-paper {
    width: auto;
    height: auto;
    padding: 1rem .5rem;
  }

  #skillset {
    width: 100%;
    font-size: .8rem;
  }

  #web-dev,
  #resume-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cpu {
    font-size: 1.5rem;
  }

  .lang-dots-container {
    flex-wrap: wrap;
    font-size: 3rem;
    padding: 2rem;
  }

  .row {
    padding: 0;
  }
}